# Lab 6 â€“ AWS Lamda ML

In [1]:
import shap

data, labels = shap.datasets.adult()

### Analyze the data

In [2]:
data.head()

,Age,Workclass,Education-Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country
0,39.0,7,13.0,4,1,0,4,1,2174.0,0.0,40.0,39
1,50.0,6,13.0,2,4,4,4,1,0.0,0.0,13.0,39
2,38.0,4,9.0,0,6,0,4,1,0.0,0.0,40.0,39
3,53.0,4,7.0,2,6,4,2,1,0.0,0.0,40.0,39
4,28.0,4,13.0,2,10,5,2,0,0.0,0.0,40.0,5

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32561 non-null  float32
 1   Workclass       32561 non-null  int8
 2   Education-Num   32561 non-null  float32
 3   Marital Status  32561 non-null  int8
 4   Occupation      32561 non-null  int8
 5   Relationship    32561 non-null  int64
 6   Race            32561 non-null  int8
 7   Sex             32561 non-null  int8
 8   Capital Gain    32561 non-null  float32
 9   Capital Loss    32561 non-null  float32
 10  Hours per week  32561 non-null  float32
 11  Country         32561 non-null  int8
dtypes: float32(5), int64(1), int8(6)
memory usage: 1.1 MB

### Analyze the labels

In [4]:
labels

array([False, False, False, ..., False, False,  True])

In [5]:
import lightgbm as lgbm

params = {
    'objective': 'binary',
    'booster_type': 'gbdt',
    'max_depth': 6,
    'learning_rate': 0.05,
    'metric': 'auc'
}

In [6]:
dtrain = lgbm.Dataset(data, labels)

model = lgbm.train(params, dtrain, num_boost_round=100, valid_sets=[dtrain])

[LightGBM] [Warning] Unknown parameter: booster_type
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Unknown parameter: booster_type
[LightGBM] [Warning] Accuracy may be bad since you didn't explicitly set num_leaves OR 2^max_depth > num_leaves. (num_leaves=31).
[LightGBM] [Info] Number of positive: 7841, number of negative: 24720
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001146 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 431
[LightGBM] [Info] Number of data points in the train set: 32561, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.240810 -> initscore=-1.148246
[LightGBM] [Info] Start training from score -1.148246